nav h1 {
    display: none;
}

main {
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: relative;
    max-width: 100%;
}

footer {
    margin: 0 !important;
}

main {
    width: 100%;
    margin: 0;
    padding: 0
}

nav ul {
    float: right;
    margin: 0 auto;
    margin-left: 0;
    padding: 20px 0px 20px 0px;
}

.over_620 {
    display: none;
}

.over_1024 {
    display: none;
}

.under_620 {
    display: inline;
}

nav:nth-child(1) ul {
    font-size: 10px;
    display: none;
}

header span {
    padding: 0.7em;
    display: block;
}

header img {
    float: left;
    width: 40px;
    padding: 8px;
    padding-right: 0;
    margin-right: 0
}

form {
    float: none;
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
}

iframe {
    float: none;
    width: 100%;
    margin: 0;
    margin-top: 3em;
}

main {
    margin: 54px 0% 0% 0%;
    display: inline-block;
}

.blog_central {
    width: 100%;
    float: none;
    border: 0;
}

aside {
    clear: both;
    margin-top: 1em;
    float: none;
    width: 100%;
    line-height: 1.5em;
}

aside h2 {
    clear: both
}

section {
    text-align: center;
    display: inline-block;
}

aside {
    display: flex;
    border-bottom: 2px groove white;
}

div ul {
    list-style: none;
    text-align: center
}

div ul li {
    padding: 1em;
}

div ul li:hover {
    padding: 1em;
    background-color: #888;
    color: #2B8B20!important
}

div ul li a:hover {
    color: #2B8B20!important
}

div ul a {
    color: white!important;
    text-decoration: none;
}

.mobile-nav {
    background-color: #222222;
    font-size: 1.3rem;
    height: 100vh;
    padding: 1rem 0;
    overflow: auto;
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
}

.nav-toggle {
    float: right;
    cursor: pointer;
    position: relative;
}

aside h2 {
    display: none
}