nav h1 {
    display: none;
}

.over_620 {
    display: inline;
}

.over_1024 {
    display: none;
}

.under_620 {
    display: none;
}

form {
    float: none;
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
}

iframe {
    float: none;
    width: 95%;
    margin: 0 auto;
    margin-top: 3em;
}

.mini {
    display: inline;
}

input[type=range] {
    display: none;
}